<tr>
    <td width="50%">{{title}}:</td>
    <td width="50%">
        <input type="hidden" name="{{code}}" value="N" />
        <input type="checkbox" name="{{code}}" id="{{code}}" value="Y" {{checked}}/>
    </td>
</tr>