<div class="adm-info-message-wrap adm-info-message-red">
    <div class="adm-info-message">
        <div class="adm-info-message-title">{{WIDGET_DEMO_TEXT}} <a href="http://marketplace.1c-bitrix.ru/solutions/{{module}}/" target="_blank">http://marketplace.1c-bitrix.ru/solutions/{{module}}/</a></div>
        <div class="adm-info-message-icon"></div>
    </div>
</div>